<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.studio-h.rune.finder-sync</string>
	<key>CFBundleName</key>
	<string>RuneFinderSync</string>
	<key>CFBundleDisplayName</key>
	<string>Rune Finder Extension</string>
	<key>CFBundleExecutable</key>
	<string>RuneFinderSync</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.FinderSync</string>
		<key>NSExtensionPrincipalClass</key>
		<string>RuneFinderSync.RuneFinderSync</string>
	</dict>
</dict>
</plist>
